*,*::before,*::after{
    box-sizing: border-box;
}
/******************************/
/* ALGEMENE CUSTOM PROPERTIES */
/******************************/
:root {
    
     
	--background-header: rgba(0,0,0,0.95); 
    --nav-backround: rgba(26,26,26,0.75);
    --body-color: rgb(28, 30, 32);
    --color-section: rgb(255,255,255); 

    --color-text: rgb(255,255,255);
    --text-gray-color: #888888;

    --button-purple-color: #a334fb;
    --button-purple-shadow-color: #a134fb8a;
    --button-green-color: #0ACF83;
    --banner-color: #474dff;
    --banner-shadow-color: #474dff73;
    --banner-hover-color: rgba(61, 112, 250, 0.99);
    --langauge-color: #38a2ff;
    --text-black: #111;
    --columns-color: rgb(243, 243, 243);
    --hover-color: rgb(163, 79, 168);
    --form-color: rgb(255, 255, 255); 
    --accelerate-background-color: #262626;
    --opacity: 0.8;
    --border-radius: 0.35em;

    --button-border-color:#0acf8360;
    
}



/********************/
/* ALGEMENE STIJLEN */
/********************/
html {
	height:100%;
}

body {
	height:100%;
	margin:0;
	padding:0;
    font-family: 'Inter', sans-serif;
    background: var(--body-color);  
    overflow-x: hidden;    
    max-width:100vw
}

h1 {
    margin:0;
    font-weight: 600;
    font-size: 4em;
    font-weight: 600;


    width: 70%;
    letter-spacing: -.03em;
    line-height: 1em;
    color: var(--color-text);
}

input[type="submit"] {
    transition:.2s;
}

a:active:not(footer > ul:nth-of-type(1) a) {
    /* als alles lekker snel gaat zie je dit niet */
    /* maar des te meer reden om de :actiev state wel te definieren */
    transform:translatey(0); 
    box-shadow:none; 
  }

input[type="submit"]:hover {
    transform:translatey(-.3em);
    box-shadow:0 .5em var(--button-purple-shadow-color); 
    filter: brightness(1.1);
}

input[type="submit"]:active {
    transform:translatey(0); 
    box-shadow:none; 
}

/***********************/
/* begin van jouw code */
/* Header stijlen*/
header {
    color: var(--color-text);
    background: var(--nav-backround); 
    backdrop-filter: blur(1.25em);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;

    z-index: 40;
    padding: 1em;


}

header > a{
    height: 2em;
}

/* Helium Inc. Logo */
header > a img{
    height: 100%;
    width: auto;
    
}

header > a img:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
    
}

/* Logo animatie infinity draaien  */
@keyframes rotate{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

/* Globe taal button */
header > button:last-of-type{
    height: 2em;
    padding: 0;
    margin:0;

    appearance: none;
    border: none;
    background: none;
    font:inherit;
}

header > button:last-of-type img{
    height: 100%;
    width: auto;
    filter: invert(100%); 
}

/* Kleur globe verandert naar blauw wanneer hover */
header > button:last-of-type img:hover{
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(192deg) brightness(134%) contrast(97%);
    cursor: pointer;
    
}




/* Navigtaie menubar */
header nav{
    position: fixed;
    top:0;
    left:0;
    right:0;

    background-color: var(--nav-backround); 
    
    padding: 3em;
    
    z-index: 50;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    transform: translateY(-100%);
    transition: .5s;
}

header nav.menuOpen{
    transform: translateY(0%); 
    height: 100vh; 
    z-index: 100;
    
}

/* Navigatie menubar Helium Inc. logo */
header nav > img{
    height: 4em;
    margin-bottom: 2.5em;
}

header nav > img:hover{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

/* Hamburger menu icon */
header button:first-of-type{
    background: none;
    border: none;
	
}

header button:first-of-type:hover{
    cursor: pointer;
    filter: invert(50%) sepia(51%) saturate(2878%) hue-rotate(192deg) brightness(134%) contrast(97%);
}


/* Menubar listitems */
header nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
}

header nav ul a{
    color: var(--color-text); 
    text-decoration: none;
    display: block;
    line-height: 1.75em;
    text-align: center;
    font-size: 2em;
    font-weight: 500;

    transition: all 0.2s ease;
    position: relative;
    top: 0;

   
}

header nav ul a:hover{
    opacity: var(--opacity);
    top: 0.1em; 
    transform: scale(1.1)
}

header nav button:last-of-type img{
    width: 2em;
    margin-top: 2.5em;
    
	
}

/* Taal menulist */
header > ul:last-of-type{
    background: var(--color-section);
    position: absolute;
    top: 3em;
    right: 1.2em;

    width: auto;
    padding: 1.7em;
    border-radius: .6em;

    box-shadow: .6em 1.3em 2.8em -0.75em rgb(0 0 0 / 75%);
    text-align: center;
    visibility: hidden;
    
} 

header > ul:last-of-type li{
    margin-bottom: 0.5em;
    
} 


header > ul:last-of-type a{
    text-decoration:none;
    font: inherit;

    font-weight: 600;
    font-size: 1em;
    color: var(--langauge-color);
    
} 

header > ul:last-of-type a:hover{
    color:var(--hover-color);
    
} 

header > ul:last-of-type.menuTaal{
    visibility: visible;
}



/***********************/
/* main */
/* Main afbeelding */
main > img:first-of-type{
    display: block;
    width: 100%;
    max-width: 23em;
    overflow: hidden; 
    
    margin: 0 auto;
    margin-bottom: 8em;

} 

/* Popup banner */
main > aside:first-of-type{
    background-color: var(--banner-color); 
    border-radius: var(--border-radius);

    padding-right: .6em;
    margin-top: 2em;
    margin-right: .93em; 
    margin-left: .93em; 
    margin-bottom: 3em;
    
    color: var(--color-text);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;

    position: relative;
    transition: all 0.2s ease;

    animation: fadeInAnimation ease 2s;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* FadeIn animatie voor popup */
@keyframes fadeInAnimation {
    0% {

        opacity: 0;
    }
    100% {
        
        opacity: 1;
     }
}

/* Hover over popup banner geeft een leuke effect naar beneden */
main > aside:first-of-type:hover{
    cursor: pointer;
    top: .5em;
    background-color: var(--banner-hover-color);
    
}

main > aside:first-of-type p{
    padding: 0.6em;
    margin: 0;
    font-size: 1em;
    
}


main aside img{
    height: .75em;
    
}
/***********************/
/* Section "Use the network" */
/***********************/
main section:first-of-type{
    margin: .93em;
    padding-bottom: 1.9em;
    
}



main section:first-of-type p:not(.home main section:first-of-type p){
    font-size: 1.75em;
    font-weight: 600;
    color: var(--text-gray-color);  
    
    line-height: 1.1;
    max-width: 90%;
    margin-top: .7em;
}

/* Button stijlen groen */
main section:first-of-type button{
    appearance: none;
    border: none;

    background-color: var(--button-green-color);
    font:inherit;
    font-weight: 600;

    margin-top: 1.25em;
    padding: 0.75em 1.25em;
    border-radius: var(--border-radius);
    font-size: .9em;
    letter-spacing: .04em;
    margin-bottom: 3.75em;
    
    transition:.2s;
}

main section:first-of-type button:hover{
    transform:translatey(-.5em);
    box-shadow:0 .5em var(--button-border-color); 
    /* standaard verandert de cursor niet */
    cursor:pointer;
      
}


main section:first-of-type button:active {
    /* als alles lekker snel gaat zie je dit niet */
    /* maar des te meer reden om de :actiev state wel te definieren */
    transform:translatey(0);
    background-color:var(--banner-color);
    box-shadow:none; 
  }
  

main section:first-of-type h5:first-of-type{
    font-size: 1.7em;
    color: var(--color-text); 
    margin-top:2em;
    margin-bottom: 0;
}

/* Merken list" */
main section:first-of-type ul:not(.home main section:first-of-type ul){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    margin-top: 1.25em;
    margin-bottom: 1.87em;
    padding: 0; 
    list-style-type: none;
}


main section:first-of-type li img:not(.home main section:first-of-type li img ){
    height: 1.87em;
    margin: .625em;
    
}

main section:first-of-type li:last-of-type h5{
    color: var(--text-gray-color);
    margin: 0;
} 

/***********************/
/* Section "Why use the people's network?" */
main section:nth-of-type(2):not(.home main section:nth-of-type(2)) {
    background-color: var(--color-section); 
    padding: 6.25em 1em 5em;
    
    
}

main section:nth-of-type(2) article{
    color: var(--text-black);
    
    padding: 0 1em;
}
main section:nth-of-type(2) article h2 {
    
    font-size: 2.5em;
    letter-spacing: -2px;
    width: 80%;
    margin-bottom: 0.75em;
}

main section:nth-of-type(2) article h2 {
    
    width: 100%;
    overflow: hidden;
    
    animation: .5s slide-right .5s forwards;
    transform:translateX(-5%);
    opacity: 0;
}

@keyframes slide-right {
    to {
      transform:translateX(0);
      opacity: 1;
    }
  }

main section:nth-of-type(2) article > p:not(.home section:nth-of-type(2) article p){
    width: 85%;
    font-weight: 300;
    line-height: 1.4;
    font-size: 1.06em;
    
}

/***********************/
/* Button "Explore solutions" */
main section:nth-of-type(2) a{
    text-decoration: none;
    background-color: var(--banner-color);
    color: var(--color-text);
    padding: 0.75em 1.25em;
    border-radius: var(--border-radius);
    margin-top: 1em;
    display: inline-block; 
    font-weight: 600;
    transition: .2s;
}

main section:nth-of-type(2) a:hover{
    transform:translatey(-.3em);
    box-shadow:0 .5em var(--banner-shadow-color);
    filter: brightness(1.1); 
}

/***********************/
/* List Massive coverage, miles of range, affordable pricing" */
main section:nth-of-type(2) > ul{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em;

    list-style-type: none;
    padding: 0 1em;
    margin-top: 4em;
    margin-bottom: 1.5em;
    text-align: center;
    align-items: center;
}

main section:nth-of-type(2) > ul li{
    background: var(--columns-color);
    padding: 2.5em;
    opacity: 0;
    transform:translateY(4em);
    transition: .4s;
}

main section:nth-of-type(2) > ul li.inBeeld{
    opacity: 1;
    transform:translateY(0);
}


main section:nth-of-type(2) > ul li h5{
    font-size: 1.56em;
    line-height: 1.4;
    
    letter-spacing: -0.5px;
    margin: 0;
    font-weight: 600;
    
}

main section:nth-of-type(2) > ul li p{
    font-weight: 300;;
    
}

/***********************/
/* Aside "Quote"" */
main section:nth-of-type(2) > aside{
    padding: 0 .9em;
    
}

main section:nth-of-type(2) > aside img:first-of-type{
    width: 2.5em;
    height: auto;
}

main section:nth-of-type(2) > aside > h2{
    font-size: 1.87em;
    font-weight: 600;
    color: inherit;
    width: 90%;
    
}

main section:nth-of-type(2) > aside img:last-of-type{
    height: 2.5em;
    width: 2.5em;
}

main section:nth-of-type(2) > aside h2:nth-of-type(2){
    font-size: 1em;
    font-weight: 600;
    
    margin: 0;
    display: block;
}

main section:nth-of-type(2) > aside h2:nth-of-type(2){
    font-size: 1em;
    font-weight: 600;
   
    margin: 0;
    display: block;
    
} 


main section:nth-of-type(2) > aside ul{
    display: flex;
    width: 100%;
    justify-content: left;
    align-items: left;
    
    padding: 0;
    
    justify-content: flex-start;
} 


main section:nth-of-type(2) > aside ul li{
    flex-direction: column;
    list-style-type: none;
} 
main section:nth-of-type(2) > aside ul li:nth-of-type(2){
    
    margin: 0;
    
    
} 


main section:nth-of-type(2) > aside ul li h2{ 
    font-size: 1em;
    margin: 0;
    margin-left: 1em;
    margin-bottom: 4px; 
    
} 

main section:nth-of-type(2) > aside ul li h3{ 
    font-size: 1em;
    margin: 0;
    margin-left: 1em;
    margin-bottom: 4px; 
    font-weight: 300;
    color: rgb(136, 136, 136); 
    color: var(--text-gray-color);
    
    
    
} 

/***********************/
/* Section "Start using the network" */
/***********************/
section.networksteps{
    text-align: center;
    color: var(--color-text);
    padding-left: .9em;
    padding-right: .9em;
}

section.networksteps h2{
    font-size: 3em;
    font-weight: 600;
    margin-top:.5em;
    margin-bottom: -.1em;
}

section.networksteps p{
    font-size: 1em;
    font-weight: 300;
    opacity: 0.8;
   
}

/***********************/
/* List met stappen" */
section.networksteps ul{
    padding: 0;
    
}

section.networksteps ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    
}

section.networksteps ul li p{
    order: 3;
    margin: 0;
    width: 90%;
    color: var(--color-text);
    font-weight: 400;
    opacity: 0.8;
    
}

section.networksteps ul li h3{
    order: 2;
    margin: .5em;
    font-size: 1.5em;
    
}

section.networksteps ul li img{
    order: 1;
    margin-bottom: 1.5em;
    
}

section.networksteps ul li a{
    text-decoration: none;
    
}

section.networksteps ul li:first-of-type a{
    
    color: #20deb0;
   
}

section.networksteps ul li:nth-of-type(2) a{
    
    color: #474dff;
}

section.networksteps ul li:last-of-type a{
    
    color: var(--button-purple-color);
    
}

/***********************/
/* Section "Accelerate your deployment" */
main section:nth-of-type(4){
    background-color: var(--accelerate-background-color);
    margin: 1em;
    margin-top: 5em;
    padding: 3.1em;
    text-align: center; 
    border-radius: 1em;
    color: var(--color-text);
    
    
}


main section:nth-of-type(4) h2{
    font-size: 2em;
    
}

main section:nth-of-type(4) p{
    width: 90%;
    font-size: 1em;
    opacity: 0.8; 
    margin: 0 auto 4em;
    line-height: 1.4;
}

/***********************/
/* form opmaak" */
main section:nth-of-type(4) form{
    display:flex;
    flex-wrap: wrap;
    
}

main section:nth-of-type(4) form input, select{
    background-color: var(--form-color);
    width: 100%;
    outline:none;
    height: 2.375em;
    border: none;
    font-size: 1em;
    margin-bottom: 1px;
    
}

main section:nth-of-type(4) form input:first-of-type, input:nth-of-type(2){
    
    width: 100%;
    flex: 45%;
    
    
    
}

main section:nth-of-type(4) form input:first-of-type{
    border-radius: .5em 0 0;
    margin-right: 1px;
}

main section:nth-of-type(4) form input:nth-of-type(2){
    border-radius: 0 .5em 0 0;
    border-left: none;
    
}

main section:nth-of-type(4) form input[type="text"],select[type="text"] {
    
    padding-left: .6em;
}

main section:nth-of-type(4) form select[type="text"] {
    appearance: none;
    border-radius: 0 0 .375em .375em;
    margin-bottom: 1.25em;

    background-image:url("file:///Users/nowymeepho/Documents/FED/images/down-arrow.svg");
    background-repeat:no-repeat;
    background-size:.75em auto;
    background-position: right 1em top 50%;
    
    
}

/***********************/
/* Form submit button" */
main section:nth-of-type(4) form input[type="submit"] {
    font-size: 1.125em;
    font-weight: 600;
    color: var(--color-text);
    height: auto;
    text-decoration: none;
   
    margin-top: 0;
    padding: 1.125em 1.625em;
    border-radius: .375em;
    

    background: var(--button-purple-color);
    cursor: pointer;
    
    
}

/***********************/
/* footer */
/***********************/

footer section {
    padding: 1em;
}

/***********************/
/* Section "Het Helium Update to your inbox" */
footer section:first-of-type{
    text-align: center;
    color: var(--color-text);
}

footer section:first-of-type input{
    display: block;
    max-width: none;
    margin: 0;
    width: 100%;
    margin-top: .625em;

}

footer section:first-of-type input:first-of-type{
    width: 100%;
    
    display: inline-block;
    background: rgba(255,255,255,0.1);
    height: 2.5em;
    font-size: 1em;
    border-radius: .375em;
    border: none;
    color: var(--color-text);
    padding-left: .625em;
    font-family: 'Inter',helvetica,arial,sans-serif;
    box-sizing: border-box;

}

footer section:first-of-type input:last-of-type{
    display: inline-block;
    height: 2.5em;
    background-color: var(--banner-color); 
    
    color: #ffffff;
    
    text-decoration: none;
    font-size: 15px;
    
    box-sizing: border-box;
    position: relative;
    border: none;
    
    border-radius: 6px;
    
    font-weight: 500;
    

}

footer section:first-of-type input:last-of-type:hover{
    box-shadow:0 .5em var(--banner-shadow-color); 
}

/***********************/
/* Streep opmaak */
span{
    display:block;
    width:100%;
    border-bottom: 1px solid #858585;
    margin: 3.125em 0;
    opacity: 0.5;
  
}

/***********************/
/* Section "footer navigatie" */
footer section:nth-of-type(2){
    margin-left: -1em;
    margin-right: -1em;
    display: flex;
    flex-wrap: wrap;
    
    align-items: normal;
    justify-content: flex-start;
    
    
}

footer section:nth-of-type(2) ul{
    list-style-type: none;
    padding: auto;
 
}

footer section:nth-of-type(2) ul{
    position: relative;
    padding-left: 1em;
    padding-right: 1em; 
    flex: 0 0 50%;
    max-width: 50%;
    margin-left: 0%;
    right: auto;
    left: auto;
}


  @media only screen and (min-width: 46.8em){
    footer section:nth-of-type(2) ul{
    
    
        
        flex: 0 0 25%;
        
      }
  }

  footer section:nth-of-type(2) h3{
    color: #ffffff;
   
  }

  footer section:nth-of-type(2) a{
    text-decoration: none;
    color: #aaa;
    font-weight: 300;
    font-size: .875em;
    line-height: 1.625em;
    

}

footer section:nth-of-type(2) a:hover{
    color: #ffffff;
    
}

/***********************/
/* Appstore en Google playstore */

footer > ul:nth-of-type(1){
    list-style-type: none;
    

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: column;
    padding: 0;
}

footer > ul:nth-of-type(1) li:first-of-type img{
    
    height: 3.75em;
   
 }

footer > ul:nth-of-type(1) li:last-of-type{
   
   margin-top: 2.5em;
}
footer > ul:nth-of-type(1) img {
   height: 3.125em;
   margin: 5px;
   position: relative;
   top: 0;
   transition: all 0.2s ease;
}

footer > ul:nth-of-type(1) img:hover:not(li > img){
    top: 0.5em;
 }

 /***********************/
/* Section "Helium policy" */
footer section:last-of-type{
    background: #141617;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    
    margin-top: 2.5em;
    color: rgba(0,0,0,0.5);
}

footer section:last-of-type ul {
    padding: 0;
}
footer section:last-of-type ul li{
    list-style-type: none;
    text-decoration: none;
    
}

footer section:last-of-type ul li a{
    list-style-type: none;
    text-decoration: none;
    color: #ffffff;
    line-height: 2em;
}

footer section:last-of-type ul li a:hover{
    color: #20deb0;
}

footer section:last-of-type  p{
    
    text-decoration: none;
    margin-top: 1.875em;
    color: gray;
    
}

@media (min-width: 62.5em) {
    footer section:last-of-type{
        margin: auto;
        padding: auto;
        
        
    }

    footer section:last-of-type ul li{
        display: inline;
        margin-right: 1em;
    }

    footer section {
        padding: 4em;
    }
}


/***********************/
/* home.html stijlen" */
/***********************/

/***********************/
/* Banner */
.home main aside{
    margin-top: 6.25em;
}

.home main section:first-of-type h2{
    font-weight: 300;
    font-size: 1.875em;
    
    color: var(--banner-color);
}

.home main section:first-of-type p{
    font-size: 1.25em;
    color: var(--color-text);
    opacity: var(--opacity);
    font-weight: 300;
}

.home main section:first-of-type{
    animation: .5s slide-right .5s forwards;
    transform:translateX(-5%);
    opacity: 0;
}

/***********************/
/* Button opmaak */
.home main section:first-of-type a{
    text-decoration: none;
    color: var(--text-black);
    font-weight: 600;
    font-size: 1.125em;
    display: inline-block;
    
    color: var(--text-black);
    margin-top: 1.25;
    padding: 1.125em 1.625em;
    border-radius: .5em;
    border: none;
    margin-right: .625em;
    background-color: var(--banner-color);
    transition: .2s;
}

.home main section:first-of-type a:hover{
    transform:translatey(-.3em);
    box-shadow:0 .5em var(--banner-shadow-color);
    filter: brightness(1.1); 
    
}

.home main section:first-of-type a:active{
    transform:translatey(0); 
    box-shadow: none;
}

/***********************/
/* Button paars */
.home main section:first-of-type a:nth-of-type(2){
    
    background-color: var(--button-purple-color);
    
}

.home main section:first-of-type a:nth-of-type(2):hover{
    box-shadow:0 .5em var(--button-purple-shadow-color); 
    
}


/***********************/
/* Button groen */
.home main section:first-of-type a:last-of-type{
    
    background-color: var(--button-green-color);
    
}

.home main section:first-of-type a:last-of-type:hover{
    
    box-shadow:0 .5em var(--button-border-color); 
    
}

/***********************/
/* Afbeelding stacking */
.home main section:first-of-type ul{
    position: relative;
    top: 3em;
    list-style-type: none;
    margin-bottom: 30em;

    animation: .5s slide-left .5s forwards;
    transform:translateX(20%);
    opacity: 0;
}

@keyframes slide-left {
    to {
      transform:translateX(0);
      opacity: 1;
    }
  }

.home main section:first-of-type li img{
    position: absolute;
    
}

/***********************/
/* Base afbeelding */
.home main section:first-of-type li:first-of-type img{
    right: -6em; 
    width: 29em;
    
    
}

/***********************/
/* Lijneafbeelding */
.home main section:first-of-type li:nth-of-type(2) img{
    transform: rotateX(54.7356103deg) rotateY(0deg) rotateZ(45deg);
    width: 31.25em;
    right: -3.7em; 
    top: -1.75em;
}

/***********************/
/* Helium apparaat afbeelding */
.home main section:first-of-type li:nth-of-type(3) img{
    width: 16.87em;
    right: -2.5em; 
    top: 7.5em;
}

/***********************/
/* Locatie afbeelding */
.home main section:first-of-type li:nth-of-type(4) img{
    width: 3.75em;
    right: 15.7em;
    top: 8.9em;
}


/***********************/
/* Section "Latest News" */
/***********************/
.home main section:nth-of-type(2) article {
    color: var(--color-text);
    text-align: center;
    
}

.home main section:nth-of-type(2) article h2{
    font-size: 4em;
    line-height: 1.5; 
}

.home main section:nth-of-type(2) article p{
    font-size: 1.25em;
    line-height: 1.4;
    opacity: var(--opacity);
}

/***********************/
/* cards opmaak */
.home main section:nth-of-type(2) ul li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 1.25em;
    overflow: hidden;
    border: none;
    color: var(--color-text); 
    background-color: rgb(59, 59, 59 );
    margin-bottom: 1em;
    
    

}

.home main section:nth-of-type(2) ul li:hover{
    
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.05);
    filter: brightness(1.1);
    cursor: pointer;
}

/***********************/
/* volgorde bepalen */
.home main section:nth-of-type(2) ul li p{
    order: 3;
    margin: 0;
    width: 90%;
    font-size: 1.25em;
    font-weight: 400;
    opacity: 0.8;
    padding-bottom: 1.8em;
    width: 85%;
    opacity: var(--opacity);
    
}

.home main section:nth-of-type(2) ul li h3{
    order: 2;
    margin: .5em;
    font-size: 1.5em;
    
}

.home main section:nth-of-type(2) ul li img{
    order: 1;
    margin-bottom: 1.5em;
    width: 100%;
    
} 

